body {
  display: grid;
  grid-template-columns: 200px 2fr;
  height: 100vh;
  width: 100%;
}

.navegacao {
  box-shadow: 0px 0px 10px 2px var(--preto-sombra);
  width: 250px;
  transition: width 0.3s ease;
  overflow: hidden;
  padding: 15px 10px;
  display: grid;
  grid-template-rows: auto 2fr auto;
  position: relative;
  z-index: 1000;
  transition: width 0.3s ease;
  background-color: var(--branco);
}

.navegacao.reduzido {
  width: 40px;
}

.navegacao-seta--voltar {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.navegacao-logo {
  text-align: center;
  margin-bottom: 40px;
}
.navegacao.reduzido .navegacao-logo {
  display: none;
}

.navegacao .navegacao-logo--voltar-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.navegacao .navegacao-logo-img {
  width: 162px;
}

.navegacao-container--menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  /* gap: 20px; */
}

.navegacao-container--menu ul li {
  width: 100%;
}

.navegacao-container--menu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--preto);
  padding: 10px;
  transition: padding 0.3s ease, font-size 0.3s ease;
  white-space: nowrap;
  /* evita quebra de linha */
  overflow: hidden;
}

.navegacao-container--menu li a:hover {
  color: var(--verde-hover);
}

.navegacao .navegacao-logo--voltar-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navegacao .navegacao-logo--voltar-login img {
  width: 100px;
  transition: width 0.3s ease;
}

.navegacao.reduzido .navegacao-logo--voltar-login img {
  display: none;
}

.reduzido .navegacao-seta--voltar {
  transform: scaleX(-1);
  transition: transform 0.3s ease;
}

.navegacao.reduzido .navegacao-logo--voltar-login {
  display: none;
}

.navegacao.reduzido .navegacao-container--menu {
  display: none;
}

.navegacao-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-conteudo-principal {
  width: 100%;
}

.container-conteudo-principal-cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px;
  height: 100px;
  color: var(--cinza-escuro);
}

.container-conteudo-principal-cabecalho--perfil {
  display: flex;
  gap: 20px;
  align-items: center;
}

.container-conteudo-principal--produtos {
  box-shadow: 0px 0px 10px 2px var(--preto-sombra);
  height: calc(100vh - 100px);
  margin-left: 20px;
  padding: 25px;
  border-radius: 20px;
}

.container-conteudo-principal--produtos-cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-bottom: 80px;
}

.container-conteudo-principal--produtos-cabecalho h2 {
  color: var(--cinza-escuro);
}

.container-conteudo-principal--produtos-cabecalho-filtro {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-conteudo-principal-cabecalho--perfil-notificacoes,
.container-conteudo-principal-cabecalho--perfil-usuario {
  cursor: pointer;
}

.container-conteudo-principal--produtos-cabecalho-filtro-pesquisa {
  position: relative;
  display: inline-block;
}

.container-conteudo-principal--produtos-cabecalho-filtro-pesquisa-btn-pesquisa::placeholder {
  color: var(--botao-pesquisar);
}

.container-conteudo-principal--produtos-cabecalho-filtro-pesquisa-btn-pesquisa[type="search"] {
  width: 250px;
  padding: 10px 40px 10px 40px;
  border: 1px solid var(--botao-pesquisar);
  border-radius: 25px;
  outline: none;
  color: var(--cinza-escuro);
  transition: 0.2s;
}
.container-conteudo-principal--produtos-cabecalho-filtro-pesquisa-btn-pesquisa[type="search"]:hover {
  box-shadow: 0px 0px 5px 0px var(--botao-pesquisar);
}

.container-conteudo-principal--produtos-cabecalho-filtro-pesquisa-btn-pesquisa--search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--cinza-escuro);
  pointer-events: none;
}

.container-conteudo-principal--produtos-cabecalho-filtro--btn-novo-produto {
  padding: 10px 16px;
  color: #fff;
  background-color: var(--verde-principal);
  border-radius: 5px;
  transition: 0.3s;
}
.container-conteudo-principal--produtos-cabecalho-filtro--btn-novo-produto_respon {
  display: none;
  padding: 8px 16px;
  color: #fff;
  background-color: var(--verde-principal);
  border-radius: 5px;
  transition: 0.3s;
}

.container-conteudo-principal--produtos-cabecalho-filtro--btn-novo-produto:hover {
  background-color: var(--verde-hover);
}

.container-conteudo-principal--produtos--status {
  margin-bottom: 80px;
}

.container-conteudo-principal--produtos--status ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.container-conteudo-principal--produtos--status-lista {
  display: none;
}

.container-conteudo-principal--produtos--status
  .container-conteudo-principal--produtos--status--stat1 {
  color: var(--verde-principal);
  background-color: transparent;
  border: 1px solid var(--verde-principal);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s;
}

.container-conteudo-principal--produtos--status
  .container-conteudo-principal--produtos--status--stat1:hover {
  background-color: var(--verde-principal);
  color: var(--branco);
}

.container-conteudo-principal--produtos--status
  .container-conteudo-principal--produtos--status--stat2 {
  color: var(--botao-pesquisar);
  background-color: transparent;
  border: 1px solid var(--botao-pesquisar);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s;
}

.container-conteudo-principal--produtos--status
  .container-conteudo-principal--produtos--status--stat2:hover {
  background-color: var(--botao-pesquisar);
  color: var(--branco);
}

.container-conteudo-principal--produtos--tabela--estoque {
  width: auto;
  border-collapse: collapse;
}

.container-conteudo-principal--produtos--tabela--estoque th {
  padding: 15px 30px;
  color: var(--cinza-escuro-fraco);
}

.container-conteudo-principal--produtos--tabela--estoque thead {
  background-color: var(--cinza-thead);
  padding: 20px 0px;
}

.tabela-titulo {
  width: 15%;
}

.tabela-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--verde-principal);
  border-radius: 4px;
  cursor: pointer;
}

/* Cor ao marcar o checkbox */
.tabela-checkbox:checked {
  /*   background-image: url("../icones/user.svg");
 */
  background-color: var(--verde-principal);
  border-color: var(--verde-principal);
}

.expandir {
  width: 100%;
  text-align: right;
  padding-right: 10px;
}

.expandir span {
  font-size: 2rem;
  color: var(--cinza-escuro);
}

.expandir span:hover {
  cursor: pointer;
}

.container-conteudo-principal--produtos--tabela--estoque td:not(.expandir),
.tabela-titulo {
  padding: 15px 0;
  text-align: center;
  color: #111111;
}

.container-conteudo-principal--produtos--tabela--estoque td {
  border-bottom: 1px solid #f1efef;
}

.container-conteudo-principal--produtos--tabela--estoque tr:nth-child(even) {
  background-color: #fefdfd;
}

@media (max-width: 850px) {
  th img {
    display: none;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .navegacao-container--menu li a {
    padding: 15px 20px;
    margin: 5px 0;
  }

  .container-conteudo-principal--produtos-cabecalho {
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
  }

  .container-conteudo-principal--produtos {
    box-shadow: none;
    /* padding: 25px 40px; */
    height: auto;
    width: 100vw;
    margin-left: 0;
  }
  .container-conteudo-principal--produtos h2 {
    font-size: 1.8rem;
  }

  .container-conteudo-principal--produtos-cabecalho-filtro {
    width: 100%;
    justify-content: normal;
  }

  .container-conteudo-principal--produtos-cabecalho-filtro-pesquisa {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .container-conteudo-principal--produtos-cabecalho-filtro-pesquisa-btn-pesquisa[type="search"] {
    width: 100%;
  }

  .container-conteudo-principal--produtos--status ul {
    gap: 30px;
  }

  .container-conteudo-principal-cabecalho--perfil h3,
  .container-conteudo-principal-cabecalho--perfil-notificacoes {
    display: none;
  }

  .container-conteudo-principal-cabecalho {
    padding: 70px 25px;
    width: 100vw;
  }
  .container-conteudo-principal-cabecalho h1 {
    font-size: 2.2rem;
  }
  .navegacao {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: var(--branco);
  }
  .navegacao .navegacao-logo--voltar-login {
    margin-bottom: 30px;
  }
  .navegacao.navegacao.reduzido {
    height: 50px;
  }

  .navegacao-seta--voltar {
    top: 20px;
    width: 20px;
    height: 20px;
  }

  .container-conteudo-principal--produtos-cabecalho-filtro--btn-novo-produto {
    display: none;
  }
  .container-conteudo-principal--produtos-cabecalho-filtro--btn-novo-produto_respon {
    display: block;
  }

  .container-conteudo-principal--produtos--status {
    display: none;
  }
  .container-conteudo-principal--produtos--status-lista {
    display: block;
    margin-bottom: 20px;
  }

  .container-conteudo-principal--produtos--status-lista--form {
    display: flex;
    align-items: center;
  }

  .container-conteudo-principal--produtos--status-lista--form--selecao {
    width: auto;
    padding: 10px;
    flex-grow: 2;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    outline: none;
  }

  .container-conteudo-principal--produtos-tabela {
    width: 100%;
    overflow: scroll;
  }
}
