main {
  width: 100%;
}

.conteudo-login {
  padding: 0 60px;
}

.conteudo-login h2 {
  margin-bottom: 28px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.conteudo-login h2::before {
  content: "";
  height: 5px;
  width: 35%;
  display: flex;
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  top: 40%;
  left: 0;
  background-color: var(--verde-principal);
}

.conteudo-login h2::after {
  content: "";
  height: 5px;
  width: 35%;
  display: flex;
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  top: 40%;
  right: 0;
  background-color: var(--verde-principal);
}

.conteudo-login--form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.conteudo-login--form input {
  width: 330px;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
  border-right: 1px solid var(--verde-principal);
  border-top: 1px solid var(--verde-principal);
  border-bottom: 1px solid var(--verde-principal);
  border-left: none;
  outline: none;
  transition: 0.3s;
  font-size: 1.8rem;
}

.conteudo-login--form input:hover {
  box-shadow: 0px 0px 5px 0px var(--verde-sombra);
}

.conteudo-login--form input::placeholder {
  color: var(--cinza);
}

.form-btn {
  background-color: var(--verde-principal);
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--branco);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s;
  border: none;
}

.form-btn:hover {
  background-color: var(--verde-hover);
}

.input-usuario {
  padding: 20px;
  margin: 0;
}

.login-usuario,
.login-senha {
  display: flex;
}

.login-usuario img,
.login-senha img {
  padding: 0 20px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid var(--verde-principal);
  background-color: var(--bg-icone-login);
}

.cadastro-link {
  text-align: center;
  margin-top: 20px;
}

.cadastro-link p {
  font-size: 1.4rem;
  color: var(--text);
}

.cadastro-link a {
  color: var(--verde-principal);
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.cadastro-link a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .conteudo-login {
    padding: 0px 40px;
  }
}

@media (max-width: 800px) {
  .conteudo-img {
    display: none;
  }

  .conteudo-login {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .login {
    height: 100vh;
  }

  .conteudo-login--form input {
    width: 100%;
  }
}
