*{
    font-family: "inter";
    border: none;
}

/* Popup */
.popup {
    display: none;
    /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escuro */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
    /* Esconde rolagem do body */
}

/* Caixa do conteúdo do popup - Aumentando tamanho geral */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    /* Largura maior */
    max-width: 800px;
    /* Máxima largura do popup */
    height: 450px;
    /* Altura fixa maior */
  /*   text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Alinha os elementos ao topo */
    position: relative;
    overflow: hidden;
    /* Garante que a rolagem interna seja controlada */
}
.popup-content h2{
    text-align: center;
    margin-bottom: 30px;
    color: var(--cinza-escuro);
}
#nomeProduto{
    margin-bottom: 20px;
}
/* Caixa interna que contém os campos de formulário */
.popup-content form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* Espaçamento entre os campos */
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    /* Permite rolagem no formulário */
    flex-grow: 1;
    /* Faz o formulário crescer para ocupar o espaço restante */
    margin-bottom: 0;
    /* Remove qualquer margem extra que possa estar causando o espaço */
}

.popup-content label{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cinza-escuro);
}

/* Estilo para os inputs do formulário */
.popup-content input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botão de salvar */
.popup-content button {
    padding: 10px 20px;
    background-color: var(--verde-principal);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px;
    /* Mantém o espaçamento entre o botão e o conteúdo */
}

/* Botão de fechar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
}

.close-btn:hover {
    color: red;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .popup-content {
        width: 90%;
        /* Ajusta a largura para dispositivos menores */
    }

    .popup-content input {
        padding: 8px;
    }
}